In [1]:
a=10

In [2]:
a="c"

In [3]:
type(a)

str

In [4]:
int()

0

In [5]:
int('123')

123

In [6]:
print('Hello World')

Hello World

In [7]:
print(123)

123

In [8]:
age = 32
print ("my age :", age)

my age : 32

In [9]:
# f string concept)
print(f"my age : {age}")

my age : 32

In [10]:
# format

name = "Krissh"
Age = 32

print("my name is {} and my age is {}".format(name,age))

my name is Krissh and my age is 32

In [11]:
# Place Holder
print('my name is {firstname} and age is {firstage}'.format(firstname = name , firstage = Age))

my name is Krissh and age is 32

In [12]:
name = "Prabir"
Age = 32
degree ="BE"

print( 'my age is {Age} and I have completed : my degree of {degree} with name of {name}'.format(Age =32,name='Prabir',degree = 'BE'))

my age is 32 and I have completed : my degree of BE with name of Prabir

In [13]:
print(f'my age is {Age} and I have comepleted : my degree of {degree} with name of {name}')

my age is 32 and I have comepleted : my degree of BE with name of Prabir

   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [14]:
# if statement
age = 18
if age>= 18:
    print('you are eligible to vote')

you are eligible to vote

In [15]:
==,<=, >=

SyntaxError: invalid syntax (3692602052.py, line 1)

In [16]:
# if statement
age = 18
if age<=18:
    print('you are not eligible to vote')

you are not eligible to vote

In [17]:
name=input('Enter your age')

Enter your age24

In [18]:
age=int(input('Enter your age'))

Enter your age22

In [19]:
## task
## Task a input of age
##chek wheter age >= 18 and age <= 45
## display a message you are doing blood

In [20]:
True and False

False

In [21]:
# if statement
age = int(input("Enter your age"))
if age >=18 and age <=45:
    print("You are young blood")

Enter your age24
You are young blood

In [22]:
# if else statement

age = int(input("Enter your age"))
if age >=18 and age <=45:
    print("You are young blood")

else:
    print("Thank you we will let you know")

Enter your age40
You are young blood

In [24]:
## Mall - input the Product price
##  product >1000 rs 20% off
## print the product price after the discount
## product <=1000 rs 30%
## print the price after the discont

Product_price = int(input("Enter the Product price "))
if Product_price > 1000:
    print("product price after discount ", Product_price - (Product_price*20/100))
if Product_price <= 1000:
    print("product price after discount ", Product_price - (Product_price*30/100))

Enter the Product price 1222
product price after discount  977.6

In [25]:
product_price=int(input("Enter the Product price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the Product price2000
The price of the product is 1600.0

In [26]:
## mall - input the product price

## product >3000 rs 20% off
##print  the pproduct price aftet removing the discount
# if price is 2999 the you will get a special gift.*( nested if )

## if the price is ==4000 then you get a trip to Goa

## product price >=2000 rs and <=3000 30 % off
## print the product price after removingn the discount

## product <=1000 rs and <=2000 40%
## print the product price after remove the discount

product_price = int(input("Enter your product price"))
if product_price >3000:
    if product_price ==4000:
        print('You get a trip to Goa')
    print("product price{}".format(product_price*0.8))
elif product_price >=2000 and product_price <=3000:
    if product_price ==2999:
        print('Congratulation you got a special gift')
    print("product price{}".format(product_price*0.7))
else:
    print("product price{}".format(product_price*0.6))

Enter your product price2111
product price1477.6999999999998

In [27]:
# comparission Operator
True==True

True

In [28]:
# Single statement
val=int(input("Enter the number"))
if(val<=999):print("value is equal or less than ot eqal to 999")
else:
    print('Go to Home')

Enter the number1234
Go to Home

In [29]:
# while loop while - else

joining_age = 25

while joining_age<=60:
    print(joining_age)
    joining_age = joining_age +1
        
else:
    print( "it's time to retairement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
it's time to retairement

In [30]:
### there is a ATM machine with 1000 rs

total_amount = 1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:print('put money in Bank')

1000
900
800
700
600
500
400
300
200
100
put money in Bank

In [31]:
i=0
while (i<40):
    
    print("the champion")
    i=i+1

the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion
the champion

# For loop

In [32]:
lst= ["krish",5,4,3,2,"Banana","apple"]

In [33]:
type(lst)

list

In [34]:
lst[4]

2

In [35]:
for x in lst:
    print(x)

krish
5
4
3
2
Banana
apple

In [36]:
fruits_list = ['mango','Cherry','Apple','Papaya','Banana']

In [37]:
for a in fruits_list:
    print(a)
    if a=='Cherry':
        print('The fruit is Cherry')

mango
Cherry
The fruit is Cherry
Apple
Papaya
Banana

In [38]:
fruit = "mango"
for x in fruit:
    print(x,end='')

mango

In [39]:
fruit[4]

'o'

In [40]:
## Nested loops

n=7

In [41]:
range(1,6)

range(1, 6)

In [42]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [43]:
n=7
for i in range(0,n):
    for j in range(0,i+3):
        print("*",end="")
    print("\r")

***
****
*****
******
*******
********
*********

In [44]:
# Homwwork
n=7
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [45]:
n = 10
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [46]:
num_rows = 10
row = 0 #row intialize
while(row < num_rows):
    row += 9 #Rows count increase
    
    print("*", end='')

**

In [47]:
# loop Control
### Break and continue
fruits_list = ['Mango','Cherry','Apple','Papaya','Banana']

for i in fruits_list:
    
    if i =='Apple':     
        print('The fruit is apple')
        break
    print(i)

Mango
Cherry
The fruit is apple

In [48]:
# loop Control
### Pass and continue
fruits_list = ['Mango','Cherry','Apple','Papaya','Banana']

for i in fruits_list:
    
    if i =='Apple':     
        print('The fruit is apple')
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [49]:
# loop Control
### Continue and Skip the loop
fruits_list = ['Mango','Cherry','Apple','Papaya','Banana']

for i in fruits_list:
    
    if i =='Apple':     
        print('The fruit is apple')
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana